# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.flaskenv
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
Skin disease dataset/
